
.nav-bgcolor{
    background-color: rgb(92, 6, 6);
    
}
.navbar-brand{
    color: white;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.login-design a{
  text-decoration: none;
  color: white;
}