.registration-page{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card-design{
    background-color: white;
}

.form-group{
    margin: 10px;
    padding: 5px;
}
.form-label{
    font-weight: 500;
    display: inline-block;
    margin-right: 50px;
    color: rgb(209, 28, 28);
}
.form-input{
    width: 200px;
    border: solid 2px;
    border-radius: 50px;
    color: rgb(209, 28, 28);;
}

.button-design{
    background-color: rgb(209, 28, 28);
    margin-top: 40px;
    height: auto;
    border-radius: 50px;
    width: 45%;
    text-decoration: none;
    color: white;
}